<div style="height: 3000px">
  <p *ngFor="let num of getNumbers(10)">{{ num }}</p>
  <ngx-sticky [offsetTop]="100">
    <div style="width: 100px; height: 50px; background: #D95140"></div>
  </ngx-sticky>

  <p *ngFor="let num of getNumbers(5)">{{ num }}</p>

  <ngx-sticky [offsetTop]="0">
    <div style="width: 100px; height: 50px; background: #58A55C"></div>
  </ngx-sticky>

  <p *ngFor="let num of getNumbers(3)">{{ num }}</p>

  <ngx-sticky [offsetTop]="150">
    <div style="width: 100px; height: 50px; background: #5086EC"></div>
  </ngx-sticky>

  <p *ngFor="let num of getNumbers(2)">{{ num }}</p>

  <ngx-sticky [offsetTop]="50">
    <div style="width: 100px; height: 50px; background: #F2BE42"></div>
  </ngx-sticky>
</div>
